[Unit]
Description=spring-boot-sample
After=syslog.target

[Service]
User=sbadmin
ExecStart=/home/sbadmin/spring-boot-sample-0.0.1.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target
